table{
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

table th, td{
    text-align: center;
    border: 1px solid black;
}

caption{
    text-align: center;
    font-size: 24px;
    color: black;
}